*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Write CSS code below */
body{
    display: block;
background-color: #a6abad;
}
section{
    display: block;
}
.left-section {
background-color: #242531;
grid-column:span 1;
} 
.right-section{
       background-color: #f7f7f7;
 grid-column:span 1/ span 2;
}  
.main-content{
    min-height: 1000px;
    width: 90%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 300px 700px;
}
img{
    border-radius: 100px;
    margin-left: 50px;
    margin-top: 10px;
    position: relative;
      
}
.profile-details{
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    color: #ffff;
}
h4{
    color: aqua;
}

#icon{
   margin: 20px;
  color:royalblue;
 margin-left: 50px;
}
.personal{
    display:grid;
    color: #ffff;
    margin: 10px;
 
}
.skill-title{
    margin-top: 40px;
    margin-left: 35%;
    color: #ffff;
}
.fields{
    margin-left: 30px;
    margin-top: 30px;
    color: #ffff;
  
}
.about{
    margin-left: 30PX;
    margin-top: 15px;
}
p{
    font-family: "Trirong", serif;
    margin-top: 15px;
}
h5{
    margin-top: 20px;
}
@media screen and (max-width:630px) {
    .main-content{
        grid-template-columns: repeat(1,1fr);
    }
}